{% extends 'main.html' %}

{% block content %}

    <h1>News and Events</h1>
    <div class="container">

    <h1>Introducing Online Booking at StudioDowntown!</h1>
    <p>We are excited to announce that we will soon be offering online booking for our classes and appointments! This new feature will allow you to easily schedule your favorite workouts and services from the comfort of your own home.</p>

    <p>With our online booking system you can:
            <p>
                -View class schedules and availability in real-time
            </p>
            <p>
                -Reserve your spot in advance to ensure you don't miss out on popular sessions
            </p>
            <p>
            -Manage your bookings with ease, including cancellations and rescheduling
            </p>
            <p>
                -Receive automated reminders prior to your appointment or class
            </p>
    </p>
    <p>To access our online booking platform, simply visit our website and click on the "Book Now" button. You'll be prompted to create an account if you haven't already done so. Once logged in, you can browse our schedule and start booking your next fitness adventure!</p>

    <p>Stay tuned for more information regarding the launch of our online booking system. We can't wait to make your fitness journey even easier and more convenient!</p>

    <p>Thank you for choosing StudioDowntown. Here's to a healthier, happier you!</p>
</div>
{% endblock content %}